<h1>Create Category</h1>

<form action="/categories" method="POST">
    <div style="margin-bottom: 8px;">
        <input name="name" placeholder="Name" required>
    </div>
    <div style="margin-bottom: 8px;">
        <textarea name="description" placeholder="Description"></textarea>
    </div>
    <button type="submit">Save</button>
</form>
